body{

    position: relative;
    width: 100%;
    height: 5000px;
    text-align: center;
background-color: rgb(255, 255, 255) ;

}
a{
    color: black;
    font-family: Montserrat;
    font-style: normal;
}
p{
  font-family: Montserrat;
font-style: normal;
}


.mainPage{
    background-color:#FFFFFF ;
    position: absolute;
    width: 100%;
    height: 5228px;
    left: 0px;
    top: 0px;
    transition: .5s ease-in-out;
    text-align: center;
    display: block;
    
  }


  
.firstScreen{
    background-color:#FFFFFF ;
    margin: 0px;
    padding: 0;
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 865.55px;
   max-width: 90%;
   display: block;

}
.frameIMG1{
  background: rgba(209, 169, 84, 0.9);
  position: relative;
  width: 100%;
  max-width: 100%;
  height:120px;
  left: 0px;
  top: -155px;
opacity: 0.8;

}


.firstScreenLeft{
    background-color: #FFFFFF;
width: 10%;
height: 300px;
top: 10px;
float: left;

}
.firstScreenRight{
    background-color: #FFFFFF;
    max-width:65%;
    height: 300px;
    position: absolute;
    left: 350px;
    top: 10px;
  /* float: right;*/
}

.logo
{position: absolute;
    max-width: 26%;
    min-width: 8%;
    height: 10%;
left: 160px;
top: 60px;
}





.menu-main {
    list-style: none;
    margin: 45px 0 5px;
    padding: 25px 0 5px;
    text-align: left;
    
  }
  .menu-main li {display: inline-block;}

 
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 10px;
    margin: 0 30px 0 0px;
    font-size: 13px;
    display: inline-block;
  
  }
  .mainBatton{
font-family: Montserrat;
font-size: 13px;
color: #D1A954;
border: 2px solid #D1A954;
padding: 10px;

  }

  .sofitBatton{
    font-family: Montserrat;
    font-size: 13px;
    color: #D1A954;
    padding: 13px;  /*Растояние до рамки*/
      }

.lineIMG{
    position: relative;
    top: 100px;
    
    
    width: 100%;
    display: inline-block;
    text-align: left;
    list-style: none;
}
.lineIMG li{
  display: inline-block;
}
      .lineIMG li img{

width: 100%;
height: 100%;
margin-right: 20px;
display: inline-block;

      }